<%- include('header'); %>

<h1>Profile</h1>

<div>
    <p><%= user.name %>
    <p><%= user.username %>
    <p><%= user.email %>
    <p><%= user.phone %>
    <p><%= user.address %>
</div>

<br><a href="/"> Back to Account Summary</a>

<%- include('footer') %>